<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Rebate</title>
</h:head>
<ui:composition template="/template/body.xhtml">
<ui:define name="leftBodyPane">
	<div id="leftPannal" class="cdmPanelBody">
		<div id="companyContainer" style="margin-right: 6px;height:#{bLoginManagement.windowheight-115}px;overflow:auto;">
		<h:form id="leftCompanyForm">
				<table id='leftPannal' width="100%">
					<tr>
						<td valign="top"><p:dataTable var="company" id="datatableId" selectionMode="single" styleClass="userDataTableClass" rowStyleClass="userDataTableClass" selection="#{bCompanyManagement.currentCompany}" rowKey="#{company.companyId}"
								value="#{bCompanyManagement.companyList}">
								<p:column headerText="Company List" styleClass="datatableheaderClass">
									<p:commandLink id="comapnyLink" value="#{company.companyDisplayName}" action="#{bCompanyManagement.updateRightPanel}" onstart="startLoading();" oncomplete="stopLoading();" update=":tabView:leftCompanyForm,:tabView:rightCompanyForm,:tabView:companyDisplayName">
									 <f:setPropertyActionListener value="#{company.companyId}"  target="#{bCompanyManagement.selectedCompanyId}" />  
									</p:commandLink>
									 <p:tooltip for=":tabView:leftCompanyForm:datatableId:comapnyLink" value="#{company.companyName}" trackMouse="true"> </p:tooltip>
								</p:column>
							</p:dataTable></td>
					</tr>
				</table>
		</h:form>		
			</div>
				<div id="grayBar">
				<p:commandButton id="addCompany" value="Add" style="margin-top: 8px;" styleClass="customButton" actionListener="#{bCompanyManagement.addCompany}" onstart="startLoading();" oncomplete="stopLoading();" update=":tabView:rightCompanyForm,:tabView:companyDisplayName"/>
				</div>
		</div>				
	</ui:define>
<ui:define name="rightBodyPane">
<div id="rightPannal" class="rightPannalbody">
        <div id="crumbsTitle">
		<div style="float:left"><h:outputText id="companyTitle" value="Company Management" /> &gt; </div>
		<div style="float:left"><h:outputText  class="crumbsTitleActive" id="companyDisplayName" value="#{bCompanyManagement.currentCompany.companyName}" /></div>
		<div style="float:left"><h:form id="companyMsgform" styleClass="errormessageformstyle">
				<p:messages id="companyErrorMessages" showDetail="false" autoUpdate="true" closable="false" styleClass="errormessagestyle" />
	         </h:form></div>
		</div>
	
	<div id="grayDivBar">
	<div style="float:left">Company Details</div>
	<div style="float:left"></div>
	</div>
	<h:form id="rightCompanyForm">
		<div style="height:#{bLoginManagement.windowheight-193}px;over-flow:auto;">
		<h:panelGroup id="container">
			<table id="companyDetails" width="100%" style="padding-left: 10px;">
				<tr style="height:40px;">
				    <td width="12%"><p  style="width:100px;">Company Name <span class="requiredField">*</span> :</p></td>
					<td width="38%"><p:inputText id="companyname" maxlength="50" value="#{bCompanyManagement.currentCompany.companyName}" readonly="#{bCompanyManagement.readableCompany}"/></td>
					<td width="12%" ><p  style="width:100px;">Company Id:</p></td>
					<td width="38%" ><p:inputText id="companyId" maxlength="50" value="#{bCompanyManagement.currentCompany.companyId}" readonly="true"/>
        			</td>
				</tr>
				<tr style="height:40px;">
					<td width="12%" ><p  style="width:100px;">State <span class="requiredField">*</span> :</p></td>
					<td width="38%" ><h:selectOneMenu id="stateList" value="#{bCompanyManagement.currentCompany.state}" disabled="#{bCompanyManagement.readable}"> 
		      						<f:selectItem itemLabel="Select" itemValue="" /> 
	            					<f:selectItems value="#{bCompanyManagement.stateList}">
	            					</f:selectItems>
	         						</h:selectOneMenu>
        			</td>
					<td width="12%" ><p  style="width:100px;">Address:</p></td>
					<td width="38%" ><p:inputTextarea id="address" maxlength="50" rows="6" cols="33" value="#{bCompanyManagement.currentCompany.address}" readonly="#{bCompanyManagement.readable}"/></td>
				</tr>
				<tr style="height:40px;">
					<td width="12%" ></td>
					<td width="38%" ><p  style="width:100px;"><p:commandLink value="Contractors" action="#{bCompanyManagement.getAssociatedUsers}" onstart="startLoading();" oncomplete="stopLoadingContactorsPopUp()" update=":tabView:rightCompanyForm,companyToUsersDataTable" rendered="#{bCompanyManagement.displayContractors}"></p:commandLink></p></td>
					<td width="12%" ></td>
					<td width="38%" ></td>
				</tr>
			</table>
			</h:panelGroup>
			<p:dialog showHeader="false" rendered="#{bCompanyManagement.showcompanyPopUp}"  modal="true" widgetVar="dlg2"   width="350" styleClass="deleteConfirmDialog">
		       <div style="height:15px;">
				</div>
				<h:outputText value="Are you sure,You want to delete the company?" style="color:white;padding-left: 30px;"/>
				<div style="height:15px;">
				</div>
				<table style="padding-left: 74px;">
				<tr>
				<td><p:commandButton  styleClass="customButton" value="OK"   action="#{bCompanyManagement.deleteCompany}" oncomplete="PF('dlg2').hide();"  update=":tabView:leftCompanyForm:datatableId,:tabView:companyDisplayName,:tabView:rightCompanyForm:container"> </p:commandButton></td>
				<td><p:commandButton  styleClass="customButton" value="Cancel"  onclick="PF('dlg2').hide();"> </p:commandButton></td>
				</tr>
				</table>
				<div style="height:15px;"></div>
			</p:dialog>
					<p:dialog rendered="#{bCompanyManagement.showcompanyToUsersPopUp}" modal="true" draggable="false" header="Assocaited Users" width="70%" height="334" id="companyToUsersDataTable" widgetVar="associatedUserVar">
							<p:dataTable var="user" id="contarctorDatatableId"  value="#{bCompanyManagement.companyUserList}" rows="10" widgetVar="contractorVar"
								paginator="true">
								<p:column headerText="Username" sortBy="#{user.userName}">
									<p:commandLink value="#{user.userName}" action="#{bCompanyManagement.goToUserManagementTab}"  update=":tabView">
									 <f:setPropertyActionListener value="#{user.userId}"  target="#{bCompanyManagement.selectedUserId}" />  
									</p:commandLink>
								</p:column>
								<p:column headerText="First name" sortBy="#{user.firstName}">
									<h:outputText value="#{user.firstName}" />
								</p:column>
								<p:column headerText="Last name" sortBy="#{user.lastName}">
									<h:outputText value="#{user.lastName}" />
								</p:column>
							</p:dataTable>
					</p:dialog>
				</div>
		<div>
		<div id="grayBar">
		<p:commandButton id="Edit" value="Edit" style="margin-top: 8px;" styleClass="customButton" rendered="#{bCompanyManagement.enableEditButton}" action="#{bCompanyManagement.editCompany}" onstart="startLoading();" oncomplete="stopLoading();" update=":tabView:rightCompanyForm,:tabView:leftCompanyForm,:tabView:companyDisplayName"/>
		<p:commandButton id="Cancel" value="Cancel" style="margin-top: 8px;" styleClass="customButton" rendered="#{bCompanyManagement.enableCancelButton}" action="#{bCompanyManagement.cancelCompany}" onstart="startLoading();" oncomplete="stopLoading();" update=":tabView:rightCompanyForm,:tabView:leftCompanyForm,:tabView:companyDisplayName"/>
		<p:commandButton id="Delete" value="Delete" style="margin-top: 8px;margin-left: 10px;" styleClass="customButton" action="#{bCompanyManagement.showDeletePopUp}" oncomplete="PF('dlg2').show();" update=":tabView:rightCompanyForm" rendered="#{bCompanyManagement.enableDeleteButton}"    />
		<p:commandButton id="Save" value="Save" style="margin-top: 8px;margin-left: 10px;" styleClass="customButton" rendered="#{bCompanyManagement.enableSaveButton}" action="#{bCompanyManagement.saveCompany}" onstart="startLoading();" oncomplete="stopLoading();" update=":tabView:rightCompanyForm,:tabView:leftCompanyForm,:tabView:companyDisplayName"/>
		</div>
		</div>
		
		</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>
