#loginPageBody
{
	background-color: #007CC3;
}
#loginTable{
margin-top: 1%;
margin-left: 5%;
color: white;
}
body {
    background-color:#007CC3;
    color: white;
    font:12px Arial,Verdana,sans-serif;
    height : 100%;
}

#loginPageHeader
{
	background-color: #242424;
	margin-left: -1%;
    margin-top: -0.5%;
      width:101.5%;
}

.logintitlestyle
{
color: whitesmoke;
font-size: 22px;
font-family: Trebuchet MS,Verdana, Arial, Helvetica, sans-serif;
}
.loginlogostyle
{
/* width: 55%; */
margin-left: 14%;
margin-bottom: 2.5%;
}
#bodyContent
{
	margin-left: 5%;
	color: white;
	padding-top: 1%;
}
#forgotpassword
{
	color: white;
}
#forgotpassword:hover
{
	color : #24A8F4;
}
.customizedButton
{
	/*  background-image: url("../img/signin.png"); */
 background-color: #1099D4 !important; 
color: white !important;
border-radius: 15px !important;
}


.errormessagestyle{
	font-size:12px !important;
	height: 5px;
}

.errormessagestyle .ui-messages-error,.ui-message-error{
	 background-color: #007CC3 !important;
	 color:#ff2525 !important;
	 border: none !important;
	 margin-left: 25px !important;
}

.errormessagestyle .ui-messages-error-icon
{
	background-image:none;

}

.errormessagestyleforgot{
	font-size:12px !important;
	height: 5px;
}

.ui-messages-error,.ui-message-error{
	 background-color: #007CC3 !important;
	 color:#ff2525 !important;
	 border: none !important;
	 margin-left: -45px !important;
}

.ui-messages-error-icon
{
	background-image:none;

}

.logginButton {
	background-image: none !important;
 background-color: #0393d2 !important;
	color: white !important;
	border-radius: 15px !important;
	border: 20px !important;
	text-shadow: none !important;
	font-size: 13px !important;
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	/* width: 50px; */
   padding-bottom: 1px;
  padding-top: 1px;
  -moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
font-size: 12px !important;
width: 72px !important;
}

.logginButton .ui-state-default {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}

.signinbutton .ui-state-default {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}

.customButton {
	background-image: none !important;
	background-color: #0268B2 !important;
	color: white !important;
	border-radius: 15px !important;
	border: 20px !important;
	text-shadow: none !important;
	font-size: 13px !important;
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	/* width: 50px; */
	padding-bottom: 1px;
	padding-top: 1px;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	font-size: 12px !important;
	width: 72px !important;
}

.customButton .ui-state-default {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}