*{
	margin:0;
	padding:0;
}

html{
	/*background:url('../img/bg_tile.jpg') repeat #dbdbdb;*/
}

body{
	color:black;
	font:12px Arial,Verdana,sans-serif;
	border:1px solid transparent;
}

#pageHeader
{
	background-color: #242424;
	/* margin-left: -1%;
    margin-top: -0.5%;
    width:101.5%; */
    color:white;
    padding-right: 1%;
    height: 52px;
}

.logintitlestyle
{
	margin-left: 15px;
color: whitesmoke;
font-size: 22px;
font-family: Trebuchet MS,Verdana, Arial, Helvetica, sans-serif;
}
.loginlogostyle
{
/* width: 55%; */
margin-left: 14%;
margin-bottom: 2.5%;
}
#leftPageHeader
{
	float:left;
}

#rightPageHeader
{
	color:white;
	padding-top: 2%;
}.link
{
	font-size: 12px;
	color:white;
}

.headerTabMenu{
	background-color: white;
}

.ui-tabmenu .ui-tabmenu-nav {
background-image: white !important;
background-color: white !important;
}

.tabContentSideNav {
	border: 1px solid #a3a3a3;
	background-color: #a3a3a3;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:2px;
	padding-right:2px;
	margin: 0px;
}

#grayBar
{
	background-color:#C4C4C4;
    text-align:right;
    height:40px;
    padding-right:10px;
}

/** Body Left Panel Header **/
#cdmPanelHeader {
	background-image: url(../cdmimages/bar/panel_header_bar.gif);
	background-repeat: repeat-x;	
	background-color: #CCCCCC;	
	width: 100%;
	display: block;	
}

/* top half of global page header */
#cdmPanelHeader_top {
	background-image: url(../cdmimages/bar/panel_heade_dark_bar.gif);
	background-repeat: no-repeat;
	width: 100%;
	height: 26px;	
	display: block;	
}

#cdmPanelHeader_top_big {
	background-image: url(../../cdmimages/bar/table_header_dark_bar_3.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 26px;	
	display: block;	
}

/* container for global site search fields in page header */
#cdmPanelHeader_text {
	float: left;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-top: 5px;
	padding-left: 7px;
	vertical-align: middle;
	color: #39b9fe;
}

/** Body Right Panel  header **/

.cdmPanelBody {
	overflow: auto;
	background-color: #FFFFFF;
	margin-right: 5%;
	margin-left: -7%;
	}
	.rightPannalbody
	{
	background-color: #FFFFFF;
	margin-right: -2%;
	margin-left: -0.5%;
	}
	.crumbsTitleActive {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica,
		sans-serif !important;
	font-size: 12px !important;
	color: #58cef1 !important;
	margin: 5px !important;
	margin-left: 7px !important;
}



#crumbsTitle {
font-family: Arial,Verdana,sans-serif;
font-size: 12px;
color: white;
background-color: #000000;
height: 28px;
padding-left: 15px;
padding-top: 10px;
}

#grayDivBar
{
	/* background-image: url(../cdmimages/body/grey_background.png); */
	background-color : #C4C4C4;
    background-position: 1px 1px;
    background-repeat: repeat-x;
    text-align:left;
    color:#FFFFFF;
    font-family: Arial,Verdana,sans-serif;
    font-size:12px;
    font-weight:bold;
    padding-left:15px;
    height:30px;
    padding-top:10px;
}

/* required field character after field label */
.requiredField {
	color: #FF0000;
	font-weight: bold;
}
.ui-tabs .ui-tabs-nav
{
	padding-top: 1%  !important;
	background-image: none !important;
	background-color:#000000 !important;
	margin-top: -0.3% !important;
    margin-left: -0.3% !important;
    margin-right: -0.2% !important;
    border-color: black !important;
}

.customizedButton
{
background-color: #24A8F4 !important;
color: white !important;
border-radius: 15px !important;
}

.errormessagestyle{
	font-size:12px !important;
	height: 5px;
}

.ui-messages-error,.ui-message-error{
	 background-color: black !important;
	 color:#ff2525 !important;
	 border: none !important;
	 padding: 0px !important;
      margin: 0px !important;
      text-shadow: none !important;
}

.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
margin-left: -20px !important;
font-weight: normal !important;

}

.ui-messages-error-icon
{
	background-image:none;

}

.radioButtonSpace
{
	
}

.ui-messages-info, .ui-message-info {
     background-color: black !important;
	 color:#39b9fe !important;
	 border: none !important;
	 padding: 0px !important;
      margin: 0px !important;
      text-shadow: none !important;
}

.ui-messages-info-icon
{
	background-image:none;
}

#chngPwd:hover
{
	color : #24A8F4;
}
#signOut:hover
{
	color : #24A8F4;
}

.customButton {
	background-image: none !important;
	background-color: #0268B2 !important;
	color: white !important;
	border-radius: 15px !important;
	border: 20px !important;
	text-shadow: none !important;
	font-size: 13px !important;
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	/* width: 50px; */
	padding-bottom: 1px;
	padding-top: 1px;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	font-size: 12px !important;
	width: 72px !important;
}

.customButton .ui-state-default {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.deleteConfirmDialog
{
	color:white !importnat;
	background-color: black;
}
.datatableheaderClass 
{
background-image: none !important;
padding: 4% !important;
text-shadow: none !important;
color: white !important;
}

.datatableheaderClass .thead .th  .ui-state-default 
{
background-image: none !important;
padding: 4% !important;
text-shadow: none !important;
color: white !important;
}
/* .orderListClass
{
list-style-type: none !important;
margin: 0 !important;
padding: 0 !important;
overflow: auto !important;
height: 120px !important;
width: 200px !important;
} */
.ui-orderlist .ui-orderlist-list {
list-style-type: none !important;
margin: 0 !important;
padding: 0 !important;
overflow: auto !important;
height: 120px !important;
width: 200px !important;
}
.popupClass
{
color: white !important;
background-image: none !important;
background-color: black !important;
text-shadow: none !important;
}

.userDataTableClass.ui-datatable tr.ui-state-highlight {

   background-image: none !important;
	background-color: #39B9FE !important;
}

/* .userDataTableClass.ui-datatable tr.ui-state-hover {

   background-image: none !important;
   background-color: #FFFFFF;
	
} */

/* .userDataTableClass .ui-datatable, .ui-datatable-even ,.ui-datatable-odd {
            background-color: #FFFFFF;
     }
*/
     
     .ui-datatable .ui-datatable-odd.ui-state-hover{
background: #F2F5F9 ;

}

.ui-datatable .ui-datatable-even.ui-state-hover{
background: #FFFFFF ;

} 