<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
  <link href="resource/css/styles.css" rel="stylesheet" type="text/css"/>
</h:head>
<ui:composition>
	<div id="bodyDiv" style="height: 100%; width: 99%; padding-left:4px;padding-top:4px;padding-right:4px;margin-top: -0.7%;margin-bottom: -0.5%;">
	<div style="white-space: nowrap;">
		<table id="bodyTable" border="0" width="100%" cellspacing="0" cellpadding="4">
			<tr>
				<td width="20%" valign="top">
					<ui:insert name="leftBodyPane" />
				</td>
				<td width="80%" valign="top">
					<ui:insert name="rightBodyPane" />
				</td>
			</tr>
		</table>
		</div>
	</div>
</ui:composition>
</html>
