/***************************************
* mPortal SPRINGBOARD CDM
*
* This stylesheet defines the styles
* used in the SPRINGBOARD CDM template
* screens.
*
***************************************/ 
/* RichPanel Header */
.cdmRichPanel {
	border-style: none;
	border-width: 0px;
	padding: 0px;
	border-color: white;
}

.cdmRichPanelBody {
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background-image: url(../../cdmimages/body/body_background.gif);
	background-repeat: repeat-x;
}

/** Body Left Panel Header **/
#cdmPanelHeader {
	background-image: url(../cdmimages/bar/panel_header_bar.gif);
	background-repeat: repeat-x;	
	background-color: #CCCCCC;	
	width: 100%;
	display: block;	
}

/* top half of global page header */
#cdmPanelHeader_top {
	background-image: url(../cdmimages/bar/panel_heade_dark_bar.gif);
	background-repeat: no-repeat;
	width: 100%;
	height: 26px;	
	display: block;	
}

#cdmPanelHeader_top_big {
	background-image: url(../../cdmimages/bar/table_header_dark_bar_3.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 26px;	
	display: block;	
}

/* container for global site search fields in page header */
#cdmPanelHeader_text {
	float: left;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-top: 5px;
	padding-left: 7px;
	vertical-align: middle;
	color: #39b9fe;
}

/** Body Right Panel  header **/

.cdmPanelBody {
	overflow: auto;
	background-color: #FFFFFF;
	}


/** Richfaces Tab Panel **/
.rich-tab-inactive
{
	background-image: url(../../cdmimages/tab/tab_background_inactive.gif);
	background-repeat: repeat-x;	
	color: #FFFFFF;
	border: 0px;
	border-color: black;
}

.rich-tab-active
{
	background-image: url(../../cdmimages/tab/tab_background_active.gif);
	background-repeat: repeat-x;	
	color: #FFFFFF;
	border: 0px;
}

.rich-mpnl-body
{
	background-color: #FFFFFF;
	margin-left: 0px;
	border: 0px;
	padding: 0px;
	border-spacing: 0px;
}

.rich-tabpanel-content
{
	background-color:#4291a8;
	padding: 5px;
}
.rich-panel-body 
{
	padding:0px;
	text-align: left;
}
.rich-stglpanel-body
{
	background-color:#FFFFFF;
	font-family:Arial,Trebuchet MS, Verdana,sans-serif;
	font-size:11px;
}

.dr-menu-icon  
{ 
     display: none; 
}

.rich-menu-list-bg
{
	 background-image: none;
     background-repeat: no-repeat;
     border-top-width : 1px;
	 border-left-width : 1px;
	 border-right-width : 1px;
	 background-color:#F1EEE9;
}

.rich-menu-separator {
     background: white;
     margin-left: 0px;
     padding-left:0px;
     padding-right:2px;
}

.dr-menu-list-border { 
	float : left; 
	position : absolute;
}

.tabContentSideNav {
	border: 1px solid #a3a3a3;
	background-color: #a3a3a3;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:2px;
	padding-right:2px;
	margin: 0px;
}

#grayBar
{
	background-color:grey;
    text-align:right;
    height:40px;
    padding-right:10px;
}

