<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Rebate App</title>
	<link rel="stylesheet" type="text/css" href="css/login_styles.css" />
	<link rel="shortcut icon" type="image/x-icon" href="img/icf_logo.png" />
	<script type="text/javascript" src="js/ajaxastatus.js" />
</h:head>
<h:body>
	<div id="loginPageHeader">
		<table>
			<tr>
				<td><h:graphicImage styleClass="loginlogostyle"
						value="img/icf_logo.png" /></td>
				<td width="30"></td>
				<td><h:outputText styleClass="logintitlestyle"
						value="Welcome to ICF" /></td>
			</tr>
		</table>
	</div>
	<div id="loginPageBody">
	<div id="forgotPageBody" style="margin-left:6%">
	       <h:form>
			<p> <h:outputText value="Forgot your Password?" /></p>
			<p><h:outputText value="To set up a new password, enter your Username below and click Continue." /></p>
			<p style="margin:0px;"><h:outputText value="Username" /></p>
			<p:inputText id="forgotPassword" value="#{bLoginManagement.fusername}"></p:inputText>
			<p style="margin:0px;"><h:outputText value="(e.g.ICF1234)"/></p>
			<table style="margin-top: 14px;margin-left: -4px;">
			<tr>
			<td width="2%"><p:commandButton id="fcontinue" styleClass="customButton" value="Continue"   action="#{bLoginManagement.forgotPassword}" update=":forgotmsgform,forgotPassword,:confirmDeleteDialog"> </p:commandButton></td>
			<td><p:commandButton id="fcancel" styleClass="customButton" value="Cancel"   action="#{bLoginManagement.goToLoginPage}" update=":forgotmsgform,forgotPassword"></p:commandButton></td>
			</tr>
			</table>
			</h:form>
			<h:form id="forgotmsgform" styleClass="errormessageformstyle">
				<p:messages id="forgoterrormsg" showDetail="false" autoUpdate="true" closable="false" styleClass="errormessagestyleforgot"/>
			</h:form>
			<p:dialog id="confirmDeleteDialog" modal="true" widgetVar="confirmDeleteDialog" visible="#{not empty bLoginManagement.selection}" showHeader="false"   width="300" styleClass="deleteConfirmDialog" style="background-color:black;text-align: center;">
			 <div style="height:20px;">
				</div>
				<h:outputText value="Your password has been reset. Please check your registered email for more details" style="color:white;font-family: Arial,Verdana,sans-serif;font-size: 12px;"/>
				<div style="height:20px;">
				</div>
				<center>
				<table>
				<tr>
				<td><p:commandButton  styleClass="customButton" value="OK" action="#{bLoginManagement.goToLoginPage}" oncomplete="PF('confirmDeleteDialog').hide();"> </p:commandButton></td>
				</tr>
				</table>
				</center>
				<div style="height:20px;"></div>
		   </p:dialog>
	</div>
	</div>
</h:body>
</html>
