<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Rebate</title>

	
</h:head>
<h:body>
<ui:composition template="/template/body.xhtml">
<ui:define name="leftBodyPane">
	<div id="leftPannal" class="cdmPanelBody">
		<div id="userContainer" style="margin-right: 6px;height:#{bLoginManagement.windowheight-17}px;overflow:auto;">
		<h:form id="leftUserForm">
				<table id='leftPannal' width="100%">
					<tr>
						<td valign="top"><p:dataTable var="user" id="userDataTable" styleClass="userDataTableClass" rowStyleClass="userDataTableClass"
								value="#{bUserManagement.userList}" selectionMode="single" selection="#{bUserManagement.currentUser}" rowKey="#{user.userId}">
								<p:column headerText="User List" styleClass="datatableheaderClass">
									<p:commandLink id="userLink" value="#{user.fullName}" action="#{bUserManagement.updateRightPanel}" onstart="startLoading();" oncomplete="stopLoading();" update=":tabView:leftUserForm,:tabView:rightUserForm,:tabView:userDisplayName">
									 <f:setPropertyActionListener value="#{user.userId}"  target="#{bUserManagement.selectedUserId}" />  
									</p:commandLink>
									 <p:tooltip for=":tabView:leftUserForm:userDataTable:userLink" value="#{user.firstName} #{user.lastName}" trackMouse="true"> </p:tooltip>
								</p:column>
								 
							</p:dataTable></td>
					</tr>
				</table>
		</h:form>		
			</div>
				<div id="grayBar">
				<p:commandButton id="addUser" style="margin-top: 8px;" value="Add" styleClass="customButton" actionListener="#{bUserManagement.addUser}" onstart="startLoading();" oncomplete="stopLoading();" update=":tabView:rightUserForm,:tabView:userDisplayName"/>
				</div>
		</div>				
	</ui:define>
<ui:define name="rightBodyPane">
<div id="rightPannal" class="rightPannalbody">
        <div id="crumbsTitle">
		<div style="float:left;"><h:outputText id="userTitle" value="User Management" /> &gt;</div> 
		<div style="float:left;"><h:outputText  class="crumbsTitleActive" id="userDisplayName" value="#{bUserManagement.currentUser.userName}" /></div>
		<div style="float:left;"><h:form id="userMsgform" styleClass="errormessageformstyle">
				                  <p:messages id="userErrorMessages" showDetail="false" autoUpdate="true" closable="false" styleClass="errormessagestyle" />
	                             </h:form></div>
	    <div style="float: right;margin-top: -6px;">
	    <h:form id="searchForm">
	    <table>
	    <tr>
	    <td><h:outputText id="searchUserLabel" value="Search user:" /></td>
	    <td><p:inputText id="searchUser" value="#{bUserManagement.searchUser}"/></td>
	    <td><h:outputText id="searchCompanyLabel" value="company:" /></td>
	    <td><p:inputText id="searchCompany" value="#{bUserManagement.searchCompany}"/></td>
	    <td><p:commandButton  styleClass="customButton" value="Search" action="#{bUserManagement.searchUser}" onstart="startLoading();" oncomplete="stopLoadingSearchPopUp()"  update=":tabView:searchForm:searchPanel"> </p:commandButton></td>
	    </tr>
	    </table>
	    <h:panelGroup id="searchPanel">
	     <p:dialog rendered="#{bUserManagement.showSearchPopup}"   header="Search Result" width="70%" height="320" id="searchModelTable" widgetVar="searchVar">
	     <p:ajax event="close" update=":tabView:searchForm:searchUser, :tabView:searchForm:searchCompany" listener="#{bUserManagement.clearSearchUser}"/>
	     <p:dataTable var="user"  value="#{bUserManagement.searchList}" rows="10" widgetVar="searchDataTableVar" id="searchDataTableId" sortMode="multiple"
								paginator="true">
								<p:column headerText="Username" sortBy="#{user.userName}">
									<p:commandLink value="#{user.userName}" action="#{bUserManagement.goToUserUserPrifle}" update=":tabView:rightUserForm,:tabView:userDisplayName,:tabView:searchForm:searchPanel,:tabView:searchForm:searchUser,:tabView:searchForm:searchCompany,:tabView:leftUserForm,:tabView:searchForm:searchModelTable"> 
									<f:setPropertyActionListener value="#{user.userId}"  target="#{bUserManagement.selectedUserId}" /> 
									</p:commandLink>
								</p:column>
								<p:column headerText="First name" sortBy="#{user.firstName}">
									<h:outputText value="#{user.firstName}" />
								</p:column>
								<p:column headerText="Last name" sortBy="#{user.lastName}">
									<h:outputText value="#{user.lastName}" />
								</p:column>
								<p:column headerText="Company Utility" sortBy="#{user.comapnyUtility}">
									<h:outputText value="#{user.comapnyUtility}" />
								</p:column>
							</p:dataTable>
		</p:dialog>
		</h:panelGroup>
	    </h:form>
	    </div>
		</div>
	     
	<div id="grayDivBar">
	<div style="float:left">User Details</div>
	<div style="float:left"></div>
	</div>
	<h:form id="rightUserForm">
	
		<div style="height:#{bLoginManagement.windowheight-95}px;over-flow:auto;">
		
			<table id="userDetails" width="100%" style="padding-left: 10px;">
				<tr style="height:40px;">
				    <td width="12%"><p  style="width:100px;">Username <span class="requiredField">*</span> :</p></td>
				    <td width="38%"><p:inputText id="username" maxlength="50" value="#{bUserManagement.currentUser.userName}" disabled="#{bUserManagement.readableUser}" readonly="#{bUserManagement.readableUser}" /></td>
					<td width="12%" ><p  style="width:100px;">Email Id <span class="requiredField">*</span> :</p></td>
					<td width="38%" ><p:inputText id="emailId"  maxlength="100" value="#{bUserManagement.currentUser.emailId}" readonly="#{bUserManagement.readable}"/></td>
				</tr>
				<tr style="height:40px;">
					<td width="12%"><p  style="width:100px;">First Name <span class="requiredField">*</span> :</p></td>
					<td width="38%"><p:inputText id="firstname"  maxlength="100" value="#{bUserManagement.currentUser.firstName}" readonly="#{bUserManagement.readable}"/></td>
					<td width="12%" ><p  style="width:100px;">Password <span class="requiredField">*</span> :</p></td>
					<td width="38%" ><p:password id="userPassword"  maxlength="50"  redisplay="true"  value="#{bUserManagement.currentUser.password}" readonly="#{bUserManagement.readable}"/></td>
				</tr>
				<tr style="height:40px;">
					<td width="12%"><p  style="width:100px;">Middle Name:</p></td>
					<td width="38%"><p:inputText id="middleName"  maxlength="50" value="#{bUserManagement.currentUser.middleName}" readonly="#{bUserManagement.readable}"/></td>
					<td width="12%" ><p  style="width:100px;">Confirm Password <span class="requiredField">*</span> :</p></td>
					<td width="38%" ><p:password id="confirmPassword" redisplay="true" value="#{bUserManagement.currentUser.verifyPassword}" readonly="#{bUserManagement.readable}"/></td>
				</tr>
				<tr style="height:40px;">
					<td width="12%"><p  style="width:100px;">Last Name <span class="requiredField">*</span> :</p></td>
					<td width="38%"><p:inputText id="lastName"  maxlength="50"  value="#{bUserManagement.currentUser.lastName}" readonly="#{bUserManagement.readable}"/></td>
					<td width="12%" ><p  style="width:100px;">Status <span class="requiredField">*</span> :</p></td>
					<td width="38%" ><h:selectOneMenu id="status" value="#{bUserManagement.currentUser.userStatus}" disabled="#{bUserManagement.readable}"> 
		      						<f:selectItem itemLabel="Select" itemValue="" /> 
	            					<f:selectItems value="#{bUserManagement.userStatusMap}">
	            					</f:selectItems>
	         						</h:selectOneMenu></td>
				</tr>
				<tr style="height:40px;">
					<td width="12%" ><p  style="width:100px;">User Role<span class="requiredField">*</span> :</p></td>
					<td width="38%"><h:selectOneMenu id="userRole" value="#{bUserManagement.currentUser.userRole}" disabled="#{bUserManagement.readable}"> 
		      						<f:selectItem itemLabel="Select" itemValue="" /> 
	            					<f:selectItems value="#{bUserManagement.userRoleMap}">
	            					</f:selectItems>
	         						</h:selectOneMenu>
	         		</td>
					
					<td width="12%" ><p  style="width:100px;">Phone:</p></td>
					<td width="38%" ><p:inputMask id="phone"  value="#{bUserManagement.currentUser.phone}" mask="999-999-9999" readonly="#{bUserManagement.readable}"/>
        			</td>
				</tr>
				<tr style="height:40px;">
					<td width="12%" ><p  style="width:100px;">Address 1<span class="requiredField">*</span> :</p></td>
					<td width="38%" ><p:inputText id="address1"  maxlength="250" value="#{bUserManagement.currentUser.address1}" readonly="#{bUserManagement.readable}"/></td>
					<td width="12%" ><p  style="width:100px;">Address 2:</p></td>
					<td width="38%" ><p:inputText id="address2"  maxlength="50" value="#{bUserManagement.currentUser.address2}" readonly="#{bUserManagement.readable}"/></td>
				</tr>
				<tr style="height:40px;">
					<td width="12%" ><p  style="width:100px;">City<span class="requiredField">*</span> :</p></td>
					<td width="38%" ><p:inputText id="city" maxlength="100" value="#{bUserManagement.currentUser.city}" readonly="#{bUserManagement.readable}"/></td>
					<td width="12%" ><p  style="width:100px;">State <span class="requiredField">*</span> :</p></td>
					<td width="38%" ><h:selectOneMenu id="stateList" value="#{bUserManagement.currentUser.state}" disabled="#{bUserManagement.readable}"> 
		      						<f:selectItem itemLabel="Select" itemValue="" /> 
	            					<f:selectItems value="#{bCompanyManagement.stateList}">
	            					</f:selectItems>
	         						</h:selectOneMenu>
        			</td>
					
				</tr>
				<tr style="height:40px;">
					<td width="12%" ><p  style="width:100px;">Zip Code<span class="requiredField">*</span> :</p></td>
					<td width="38%" ><p:inputText id="zip"  maxlength="20"  rows="6" cols="33" value="#{bUserManagement.currentUser.zip}" readonly="#{bUserManagement.readable}"/></td>
					<td width="12%" ><p  style="width:100px;">Contractor Company<span class="requiredField">*</span> :</p></td>
					<td width="38%" ><p:inputText id="contractorCompany"  maxlength="250" value="#{bUserManagement.currentUser.contractorCompany}" readonly="#{bUserManagement.readable}"/></td>
				</tr>
				<tr style="height:40px;">
					<td width="12%" ><p>Associated Companies:</p></td>
					<td width="38%" ><p:orderList value="#{bUserManagement.associatedCompanyList}"  var="company" controlsLocation="none" itemLabel="#{company}" itemValue="#{company}"  /></td>
					<td width="12%" ><p  style="width:100px;">Company:</p></td>
					<td width="38%" ><p:selectCheckboxMenu value="#{bUserManagement.selectedCompanyList}" id="companyListId" scrollHeight="120" label="Select"  filter="true" filterText="Filter" filterMatchMode="contains" panelStyle="width:300px" disabled="#{bUserManagement.readable}">  
                                  <f:selectItems value="#{bUserManagement.companyMap}" />  
                                     </p:selectCheckboxMenu></td>
				</tr>
				<tr style="height:40px;">
					<td width="12%" ><p>Contractor Account Number:</p></td>
					<td width="38%" ><p:inputText id="contractorAccountNumber"  maxlength="255"  rows="6" cols="33" value="#{bUserManagement.currentUser.contractorAccountNumber}" readonly="#{bUserManagement.readable}"/></td>
					<td width="12%" ><p>Tax Id:</p></td>
					<td width="38%" ><p:inputText id="taxId"  maxlength="255"  rows="6" cols="33" value="#{bUserManagement.currentUser.taxId}" readonly="#{bUserManagement.readable}"/></td>
				</tr>
			</table>
			<h:panelGroup id="parentPanel">
			<p:dialog id="deletePopUp" rendered="#{bUserManagement.show}" modal="true" showHeader="false" widgetVar="dlg1"  width="350" styleClass="deleteConfirmDialog">
		       <div style="height:15px;">
				</div>
				<h:outputText value="Are you sure,You want to delete the user?" style="color:white;padding-left: 30px;"/>
				<div style="height:15px;">
				</div>
				<table style="padding-left: 74px;">
				<tr>
				<td><p:commandButton  styleClass="customButton" value="OK"   action="#{bUserManagement.deleteUser}" oncomplete="PF('dlg1').hide();"  update=":tabView:rightUserForm,:tabView:leftUserForm,:tabView:userDisplayName"> </p:commandButton></td>
				<td><p:commandButton  styleClass="customButton" value="Cancel"  onclick="PF('dlg1').hide();"> </p:commandButton></td>
				</tr>
				</table>
				<div style="height:15px;"></div>
			</p:dialog>
			</h:panelGroup>
		</div>
		<div>
		<div id="grayBar">
		<p:commandButton id="Edit" ajax="true" style="margin-top: 8px;" value="Edit" styleClass="customButton" action="#{bUserManagement.editUser}" onstart="startLoading();" oncomplete="stopLoading();" update=":tabView:rightUserForm,:tabView:leftUserForm,:tabView:userDisplayName" rendered="#{bUserManagement.enableEditButton}"/>
		<p:commandButton id="Cancel" ajax="true" style="margin-top: 8px;"  value="Cancel" styleClass="customButton"   action="#{bUserManagement.cancelUser}" onstart="startLoading();" oncomplete="stopLoading();" update=":tabView:rightUserForm,:tabView:leftUserForm,:tabView:userDisplayName" rendered="#{bUserManagement.enableCancelButton}"/>
		<p:commandButton id="Delete" ajax="true" style="margin-top: 8px;margin-left: 10px;"  value="Delete" styleClass="customButton" action="#{bUserManagement.showDeletePopup}" oncomplete="PF('dlg1').show();"  update=":tabView:rightUserForm,:tabView:rightUserForm:parentPanel" rendered="#{bUserManagement.enableDeleteButton}"/>
		<p:commandButton id="Save"  ajax="true" style="margin-top: 8px;margin-left: 10px;"  value="Save" styleClass="customButton" action="#{bUserManagement.saveUser}" onstart="startLoading();" oncomplete="stopLoading();" update=":tabView:rightUserForm,:tabView:leftUserForm,:tabView:userDisplayName" rendered="#{bUserManagement.enableSaveButton}"/>
		</div>
		</div>
		</h:form>
		</div>
	</ui:define>
</ui:composition>
</h:body>
</html>
