<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Rebate</title>
</h:head>
<ui:composition>
	<div id="pageHeader">
		<div id="leftPageHeader">
			<table>
				<tr>
					<td><h:graphicImage value="img/icf_logo.png" styleClass="loginlogostyle"/></td>
					<td width="3"></td>
					<td><h:outputText value="Welcome to ICF" styleClass="logintitlestyle"/></td>
				</tr>
			</table>
		</div>
		<div id="rightPageHeader" style="float: right;">
		<table>
				<tr>
					<td><img id="ajaxhomeimg" width="14" height="14" src="cdmimages/status/loading.gif" style="display: none;"/></td>
					<td><h:outputText  value=" "/> </td>
					<td><h:outputText  value="Welcome"/></td>
					<td><h:outputText  value=" "/></td>
					<td><h:outputText value="#{bLoginManagement.loggedUser}" id="loggedUser" /></td>
					<td><h:outputText  value=" "/></td>
					<td><h:outputText value="|"/></td>
					<td><h:outputText  value=" "/></td>
					<td><h:outputText  value="Help" styleClass="link"></h:outputText></td>
					<td><h:outputText  value=" "/></td>
					<td><h:outputText value="|" /></td>
					<td><h:outputText  value=" "/></td>
					<td><p:commandLink id="chngPwd" value="Change Password" styleClass="link" action="#{bLoginManagement.showchagePasswordPopUp}" onstart="startLoading();" oncomplete="stopLoadingChangPasswordPopUp()" update=":changePasswordForm"></p:commandLink></td>
					<td><h:outputText  value=" "/></td>
					<td><h:outputText value="|"/></td>
					<td><h:outputText  value=" "/></td>
					<td><p:commandLink  id="signOut" value="Sign Out" onclick="PF('signoutdlg').show();" styleClass="link"></p:commandLink></td>
				</tr>
			</table>
		</div>
		<p:dialog  showHeader="false" widgetVar="cp" modal="true" styleClass="popupClass" width="600" resizable="false" >
		<h:form id="changePasswordForm">
					<div style="color: #FFFFFF;font-family: Arial,Verdana,sans-serif;font-size: 12px">
					<center><p style="text-align: center;font-size: 14px;font-weight: bold;">Change Your Password</p></center>
					<p style="height:5px;"></p>
					<p><h:outputText value="#{bLoginManagement.changePasswordErrorMessages}" id="chagePasswordErrorMessages" style="color:red;"/></p>
					<p style="height:10px;"></p>
					<p>When creating your Password, your new password must meet these requirements:</p>
					<p style="height:5px;"></p>
					<p>Must be 8 to 16 characters long.</p>
					<p style="height:5px;"></p>
					<p>Must contain letters and numbers only.</p>
					<p style="height:5px;"></p>
					<p>Must contain atleast one number or special character.</p>
					<p style="height:5px;"></p>
					<p>Must contain atleast one alphabetic character from a-z | A-Z.</p>
					<p style="height:20px;"></p>
					<center>
					<table style="color:white;">
						<tr><td>New Password <span class="requiredField">*</span> :</td><td>Confirm Password: <span class="requiredField">*</span> :</td></tr>
						<tr><td><p:password id="newPassword" value="#{bLoginManagement.newPassword}" /></td>
						<td><p:password id="newConfirmPassword" value="#{bLoginManagement.confirmPassword}" /></td></tr>
						<tr><td><p style="height:10px;"></p></td></tr>
						<tr><td  style="padding-left: 75px;"><p:commandButton value="Save"  styleClass="customButton" actionListener="#{bLoginManagement.changePassword}" update=":changePasswordForm:chagePasswordErrorMessages,:changePasswordSuccessPanel" /></td>
						<td><p:commandButton value="Cancel" styleClass="customButton" onclick="PF('cp').hide();"  /></td></tr>
					</table>
					</center>
					<p style="height:50px;"></p>
					</div>
		</h:form>
    	</p:dialog >
    	<h:panelGroup id="changePasswordSuccessPanel">
    	<p:dialog showHeader="false" widgetVar="changePasswordSuccessPopUp" modal="true" rendered="#{bLoginManagement.changePasswordSuccessPopup}"  width="300" styleClass="deleteConfirmDialog">
				 <div style="height:20px;"></div>
				<center><h:outputText value="Password changed successfully" style="color:white;font-family: Arial,Verdana,sans-serif;font-size: 12px;"/></center>
				<div style="height:20px;"></div>
				<center>
				<table>
				<tr>
				<td><p:commandButton  styleClass="customButton" value="OK" oncomplete="PF('changePasswordSuccessPopUp').hide();"> </p:commandButton></td>
				</tr>
				</table>
				</center>
				<div style="height:20px;"></div>
		</p:dialog>
		</h:panelGroup>
		<p:dialog showHeader="false" widgetVar="signoutdlg" modal="true" width="300" styleClass="deleteConfirmDialog">
		       <div style="height:15px;">
				</div>
				<h:outputText value="Do you really want to sign out?" style="color:white;padding-left: 45px;"/>
				<div style="height:15px;">
				</div>
				<table style="padding-left: 55px;">
				<tr>
				<td><p:commandButton  styleClass="customButton" value="OK"   action="#{bLoginManagement.logout}" oncomplete="PF('signoutdlg').hide();"  update=":tabView:rightUserForm,:tabView:leftUserForm,:tabView:userDisplayName"> </p:commandButton></td>
				<td><p:commandButton  styleClass="customButton" value="Cancel"  onclick="PF('signoutdlg').hide();"> </p:commandButton></td>
				</tr>
				</table>
				<div style="height:15px;"></div>
		</p:dialog>
		<h:form id="ReloginForm" prependId="false" style="margin: 0px;">
				<p:dialog showHeader="false" widgetVar="reloginVar"
					modal="true"
					width="300" styleClass="deleteConfirmDialog">
					<div style="height: 20px;"></div>
					<center>
						<h:outputText value="Your session has expired due to inactivity.Please try again."
							style="color:white;font-family: Arial,Verdana,sans-serif;font-size: 12px;" />
					</center>
					<div style="height: 20px;"></div>
					<center>
						<table>
							<tr>
								<td><p:commandButton  styleClass="customButton" value="OK" ajax="true" action="#{bLoginManagement.logout}" onstart="startLoading();" oncomplete="stopLoadingReloginPopUp()"> </p:commandButton></td>
							</tr>
						</table>
					</center>
					<div style="height: 20px;"></div>
				</p:dialog>
         <p:idleMonitor timeout="3600000" onidle="reloginVar.show()" />
		 </h:form>
	</div>
	<script>
		
	function clearFields(){
		document.getElementById("newPassword").value="";
		document.getElementById("newConfirmPassword").value="";
	}
	</script>
</ui:composition>

</html>
