<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Rebate</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
</h:head>
<ui:composition>
<div id="pageHeaderMenubar" style="border: 1px solid black;">
<!-- <h:form id="headerMenuForm">
<p:tabMenu activeIndex="#{bMenuBakingBean.activeIndex}">
    <p:menuitem value="User Management" update=":mainPage,:headerMenuForm" action="#{bUserManagement.initializeUserManagement}">
        <f:setPropertyActionListener target="#{bMenuBakingBean.currentPage}" value="/user/UserManagement.xhtml" />
    </p:menuitem>
    <p:menuitem value="Data Management" update=":mainPage,:headerMenuForm" action="#{bCompanyManagement.initializeCompanyManagement}">
        <f:setPropertyActionListener target="#{bMenuBakingBean.currentPage}" value="/company/CompanyManagement.xhtml" />
    </p:menuitem>
</p:tabMenu>
</h:form> -->
</div>
</ui:composition>

</html>


