<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Rebate App</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	<link rel="shortcut icon" type="image/x-icon" href="img/icf_logo.png" />
	<script type="text/javascript" src="js/home.js"/>
</h:head>
<h:body id="body">
	<ui:include src="/template/header.xhtml" />
	<!-- <ui:include src="/template/headerMenubar.xhtml" />
	<p:outputPanel id="mainPage">
	    <ui:include src="#{bMenuBakingBean.currentPage}" />
	</p:outputPanel> -->
	
	<p:tabView id="tabView" activeIndex="#{bUserManagement.activeIndex}" style=" background-color:#007CC3 ;" >
	<p:ajax event="tabChange" listener="#{bUserManagement.tabChanged}" update=":tabView:rightUserForm,:tabView:leftUserForm,:tabView:rightCompanyForm,:tabView:leftCompanyForm,:tabView:companyDisplayName,:tabView:userDisplayName"/>
	        <p:tab title="User Management" >
	           <ui:include src="/user/UserManagement.xhtml" />
	        </p:tab>
	        <p:tab title="Company Management">
	            <ui:include src="/company/CompanyManagement.xhtml"  />
	        </p:tab>
	  </p:tabView>
	
</h:body>
</html>
