<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
     <title>Rebate App</title>
      <link rel="stylesheet" type="text/css" href="css/login_styles.css" />
      <link rel="shortcut icon" type="image/x-icon" href="img/icf_logo.png" />
      <script type="text/javascript" src="js/ajaxastatus.js"/>
    </h:head>
     <h:body>
	<div id="loginPageHeader">
		<table>
			<tr>
				<td><h:graphicImage styleClass="loginlogostyle"  value="img/icf_logo.png" /></td>
				<td width="30"></td>
				<td><h:outputText styleClass="logintitlestyle" value="Welcome to ICF" /></td>
			</tr>
		</table>
	</div>

	<div id="loginPageBody">
		<div >
			<p id="bodyContent">
				<h:outputText
					value="Please sign in below with your account details." />
			</p>
		</div>
		<div>
			<h:form id="loginForm" prependId="false">
				<table id="loginTable">
					<tr>
						<td><h:outputLabel for="username" value="Username" /></td>
						<td><h:outputLabel for="password" value="Password" /></td>
					</tr>
					<tr>
						<td><p:inputText id="username" value="#{bLoginManagement.username}" /></td>
						<td><p:password id="password" value="#{bLoginManagement.password}" /></td>
						<td><img id="ajaximg" width="16" height="16" src="img/loading_home.gif" style="display: none;"/></td>
					</tr>
					<tr>
						<td colspan="2" style="padding-top: 20px;">
						   <p:commandLink id="forgotpassword" action="#{bLoginManagement.goToForgotPage}" update=":confirmLoginDialog">
								<h:outputText value="Forgot Password" style="font: 12px Arial,Verdana,sans-serif;"/>
							</p:commandLink></td>
					</tr>
					<tr>
						<td colspan="2" align="left" style="padding-top: 20px;">
						<p:commandButton id="signinbutton" styleClass="logginButton" value="Sign In"  onstart="startLoading();" oncomplete="stopLoading();" action="#{bLoginManagement.authenticate}" update=":confirmLoginDialog">
						</p:commandButton>
					 </td>
					</tr>
				</table>
			</h:form>
			<!-- <h:form id="msgform" styleClass="errormessageformstyle">
				<p:messages id="errormsg" showDetail="false" autoUpdate="true" closable="false" styleClass="errormessagestyle" />
			</h:form> -->
			<p:dialog id="confirmLoginDialog" modal="true" widgetVar="confirmLoginDialog" visible="#{not empty bLoginManagement.loginErrorMessages}" width="300" showHeader="false" styleClass="confirmLoginDialog" style="background-color:black;text-align: center;">
			    <div style="height:20px;"></div>
				<center><h:outputText value="#{bLoginManagement.loginErrorMessages}" style="color:white;font-family: Arial,Verdana,sans-serif;font-size: 12px;"/></center>
				<div style="height:20px;"></div>
				<center>
				<table>
				<tr>
				<td><p:commandButton  styleClass="customButton" value="OK" action="#{bLoginManagement.goToLoginPage}" oncomplete="PF('confirmLoginDialog').hide();" update=":loginForm"> </p:commandButton></td>
				</tr>
				</table>
				</center>
				<div style="height:20px;"></div>
		   </p:dialog>
		</div>
	</div>
</h:body>
</html>	