<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Rebate</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
</h:head>
<h:body>
	<ui:composition template="/template/body.xhtml">
		<ui:define name="leftBodyPane">
		left panel
		</ui:define>
		<ui:define name="rightBodyPane">
		right panel
		</ui:define>
	</ui:composition>
</h:body>
</html>
